* {
    font-family: "Poppins";
    background-color: #EEE8C5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#header {
    background-image: url(./images/leaf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 4rem;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#header h1 {
    background-color: unset;
    font-weight: 600;
}

/* Styling for Products */
#products-container {
    height: 100vhs;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-row-gap: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.product {
    width: 20vw;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.product img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.product-desc, .price, .product-buttons, .decrease-increase-btns, .increase, .decrease {
    background-color: white;
}

.product-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-desc {
    font-weight: 550;
    font-size: 1.2rem;
}

.price {
    font-weight: 400;
    font-size: 1rem;
}

.buy-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.6rem 1.8rem;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.buy-btn:hover {
    background-color: #EEE8C5;
    color: black;
}

.decrease-increase-btns {
    display: flex;
    gap: 0.6rem;
}

.increase, .decrease {
    border: none;
    font-size: 2.4rem;
    cursor: pointer;
    transition: font-size 0.3s ease-in-out;
}

.increase:hover, .decrease:hover {
    color: #EEE8C5;
}

.decrease {
    margin-right: 1rem;
}


/* Media queries */
@media(max-width: 850px) {
    #products-container {
        grid-template-columns: 1fr 1fr;
    }

    .product {
        width: 30vw;
        height: 22rem;
    }
}

@media(max-width: 675px) {
    #products-container {
        grid-template-columns: 1fr;
    }

    .product {
        width: 50vw;
        height: 22rem;
    }
}


/* Webkit to hide scrollbar */
::-webkit-scrollbar {
    display: none;
  }