#footer {
    background-image: url(../../images/leaf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* #footer i {
    background-color: transparent;
    color: #fff;
    font-size: 3.5rem;
} */
a {
    background-color: transparent;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: transparent;
}
 
.links i {
    font-size: 3.5rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.links i:hover {
    transform: scale(1.1);
    color: #EEE8C5;
}